$font: 'PT Sans', sans-serif;
$dark: #1F1F1F;
$light: #FFFFFF;
$grey: #59606D;
$grey-light: #959DAD;
$grey-extra-light: #F8F8F8;
$yellow: #F2C94C;
$shadow-bottom: 0px 4px 16px rgba(0, 0, 0, 0.05);
$shadow-left: -4px 0px 16px rgba(0, 0, 0, 0.05);

